* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    padding: 3em .5em;
}

p {
    font-size: 1em;
}

#main {
    background-color: rgb(232, 232, 232);
    text-align: center;
    border-radius: 5px;
}

#title {
    padding-block: 1em;
}


#title h1 {
    font-size: 2.5rem;
    padding-bottom: .5em;
}

#title p {
    padding-bottom: .5em;
}
/* MEDIA QUERIES FOR THE TITLES */

@media only screen and (min-width: 390px) {
    #title h1{
      font-size: 1.2em;
    }
    #title p{
        font-size: 1em;
      }
  }

#img-div {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
}

#image {
    max-width: 100%;
    height: auto;
}

#img-div p {
    padding-top: 1em;
}

#tribute-info {
    width: 40%;
    margin: auto;
    text-align: justify;
}

#tribute-info ul {
    padding: 1em;
}

#tribute-info li {
    padding-block: .8em;
}

#tribute-info li span {
    font-weight: bold;
}

#tribute-info p {
    font-style: italic;
    font-weight: 300;
}

#tribute-author {
    margin-top: 1em;
}

@media only screen and (min-width: 390px) {
    #tribute-info {
        width: 80%;
    }

}

#footer {
    padding: 2em;
}